<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		/>
		<title>Find a dev</title>

        <!-- Styles -->
        <link rel="stylesheet" href="./css/reset.css" />
        <link rel="stylesheet" href="./css/style.css" />

        <!-- Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500&display=swap" rel="stylesheet"> 
	</head>
	<body>
        <header>
            <h1 class="title">Find a dev</h1>
    
            <section class="header--forms">
                <form action="/getPosts" method="GET">
                    <ul class="tags">
                        <li>
                            <button class="form--button js" name="JS" value="JavaScript">JavaScript</button>
                        </li>
                        <li>
                            <button class="form--button html" name="HTML" value="upvote">HTML</button>
                        </li>
                        <li>
                            <button class="form--button css" name="CSS" value="upvote">CSS</button>
                        </li>
                         <li>
                            <button class="form--button node" name="Node" value="JavaScript">Node.js</button>
                        </li>
                        <li>
                            <button class="form--button mongodb" name="MongoDB" value="upvote">MongoDB</button>
                        </li>
                        <li>
                            <button class="form--button react" name="React" value="upvote">React</button>
                        </li>
                    </ul>
                </form>
        
                <form action="/addDeveloper" method="GET">
                    <button class="form--button add-new" name="New">New</button>
                </form>
            </section>
        </header>


        <!-- <ul class="devs">
            <% for(let i = 0; i < devs.length; i++) { %>
                <li>
                    <img class="dev--avatar" src="<%= devs[i].avatar %>" />
                    <h2 class="dev--name"><%= devs[i].name %></h2>
                </li>
            <% } %>
        </ul> -->

        <ul class="devs">
            <li class="developer">
                <img class="dev--avatar" src="./assets/headshot-nobg.png" />
                <h2 class="dev--name">Brian Schnee</h2>

                <ul class="dev--skills">
                    <li class="js">JavaScript</li>
                    <li class="html">HTML</li>
                    <li class="css">CSS</li>
                    <li class="node">Node</li>
                    <li class="mongodb">MongoDB</li>
                    <li class="react">React</li>
                </ul>

                <h3 class="dev--expertise">Frontend</h3>

                <ul class="dev--socials">
                    <li>
                        <a href="#">
                            <img class="icon--twitter" src="./assets/icons/twitter.svg" />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img class="icon--linkedin" src="./assets/icons/linkedin.svg" />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img class="icon--github" src="./assets/icons/github.svg" />
                        </a>
                    </li>
                </ul>
            </li>
            <li class="developer">
                <img class="dev--avatar" src="./assets/Jacob.jpg" />
                <h2 class="dev--name">Jacob Asper</h2>

                <ul class="dev--skills">
                    <li class="js">JavaScript</li>
                    <li class="html">HTML</li>
                    <li class="css">CSS</li>
                    <li class="node">Node</li>
                    <li class="mongodb">MongoDB</li>
                    <li class="react">React</li>
                </ul>

                <h3 class="dev--expertise">Backend</h3>

                <ul class="dev--socials">
                    <li>
                        <a href="#">
                            <img class="icon--twitter" src="./assets/icons/twitter.svg" />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img class="icon--linkedin" src="./assets/icons/linkedin.svg" />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img class="icon--github" src="./assets/icons/github.svg" />
                        </a>
                    </li>
                </ul>
            </li>
            <li class="developer">
                <img class="dev--avatar" src="./assets/Alondra.png" />
                <h2 class="dev--name">Alondra Mora</h2>

                <ul class="dev--skills">
                    <li class="js">JavaScript</li>
                    <li class="html">HTML</li>
                    <li class="css">CSS</li>
                    <li class="node">Node</li>
                    <li class="mongodb">MongoDB</li>
                    <li class="react">React</li>
                </ul>

                <h3 class="dev--expertise">Full-Stack</h3>

                <ul class="dev--socials">
                    <li>
                        <a href="#">
                            <img class="icon--twitter" src="./assets/icons/twitter.svg" />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img class="icon--linkedin" src="./assets/icons/linkedin.svg" />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img class="icon--github" src="./assets/icons/github.svg" />
                        </a>
                    </li>
                </ul>
            </li>
            <li class="developer">
                <img class="dev--avatar" src="./assets/Alex.png" />
                <h2 class="dev--name">Alexis Aguilar</h2>

                <ul class="dev--skills">
                    <li class="js">JavaScript</li>
                    <li class="html">HTML</li>
                    <li class="css">CSS</li>
                    <li class="node">Node</li>
                    <li class="mongodb">MongoDB</li>
                    <li class="react">React</li>
                </ul>

                <h3 class="dev--expertise">Full-Stack</h3>

                <ul class="dev--socials">
                    <li>
                        <a href="#">
                            <img class="icon--twitter" src="./assets/icons/twitter.svg" />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img class="icon--linkedin" src="./assets/icons/linkedin.svg" />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img class="icon--github" src="./assets/icons/github.svg" />
                        </a>
                    </li>
                </ul>
            </li>
            <li class="developer">
                <img class="dev--avatar" src="./assets/Alyssha.jpg" />
                <h2 class="dev--name">Alyssha Lewin</h2>

                <ul class="dev--skills">
                    <li class="js">JavaScript</li>
                    <li class="html">HTML</li>
                    <li class="css">CSS</li>
                    <li class="node">Node</li>
                    <li class="mongodb">MongoDB</li>
                    <li class="react">React</li>
                </ul>

                <h3 class="dev--expertise">Full-Stack</h3>

                <ul class="dev--socials">
                    <li>
                        <a href="#">
                            <img class="icon--twitter" src="./assets/icons/twitter.svg" />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img class="icon--linkedin" src="./assets/icons/linkedin.svg" />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img class="icon--github" src="./assets/icons/github.svg" />
                        </a>
                    </li>
                </ul>
            </li>
            <li class="developer">
                <img class="dev--avatar" src="./assets/JacobGood.jpg" />
                <h2 class="dev--name">Jacob Good</h2>

                <ul class="dev--skills">
                    <li class="js">JavaScript</li>
                    <li class="html">HTML</li>
                    <li class="css">CSS</li>
                    <li class="node">Node</li>
                    <li class="mongodb">MongoDB</li>
                    <li class="react">React</li>
                </ul>

                <h3 class="dev--expertise">Full-Stack</h3>

                <ul class="dev--socials">
                    <li>
                        <a href="#">
                            <img class="icon--twitter" src="./assets/icons/twitter.svg" />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img class="icon--linkedin" src="./assets/icons/linkedin.svg" />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img class="icon--github" src="./assets/icons/github.svg" />
                        </a>
                    </li>
                </ul>
            </li>
            <li class="developer">
                <img class="dev--avatar" src="./assets/Bianca.jpg" />
                <h2 class="dev--name">Bianca Togonon</h2>

                <ul class="dev--skills">
                    <li class="js">JavaScript</li>
                    <li class="html">HTML</li>
                    <li class="css">CSS</li>
                    <li class="node">Node</li>
                    <li class="mongodb">MongoDB</li>
                    <li class="react">React</li>
                </ul>

                <h3 class="dev--expertise">Full-Stack</h3>

                <ul class="dev--socials">
                    <li>
                        <a href="#">
                            <img class="icon--twitter" src="./assets/icons/twitter.svg" />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img class="icon--linkedin" src="./assets/icons/linkedin.svg" />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img class="icon--github" src="./assets/icons/github.svg" />
                        </a>
                    </li>
                </ul>
            </li>
            <li class="developer">
                <img class="dev--avatar" src="./assets/Dana.jpg" />
                <h2 class="dev--name">Dana Lee</h2>

                <ul class="dev--skills">
                    <li class="js">JavaScript</li>
                    <li class="html">HTML</li>
                    <li class="css">CSS</li>
                    <li class="node">Node</li>
                    <li class="mongodb">MongoDB</li>
                    <li class="react">React</li>
                </ul>

                <h3 class="dev--expertise">Full-Stack</h3>

                <ul class="dev--socials">
                    <li>
                        <a href="#">
                            <img class="icon--twitter" src="./assets/icons/twitter.svg" />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img class="icon--linkedin" src="./assets/icons/linkedin.svg" />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img class="icon--github" src="./assets/icons/github.svg" />
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
	</body>
</html>
