<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		/>
		<title>Find a dev</title>
	</head>
	<body>
		<h1>Find a dev</h1>

        <ul class="tags">
            <li>
                <a href="#">JavaScript</a>
            </li>
            <li>
                <a href="#"></a>
            </li>
            <li>
                <a href="#"></a>
            </li>
        </ul>

        <ul class="posts">

        </ul>
	</body>
</html>
