/* 
================ Base Styles ================
*/

html {
    font-size: 62.5%
}

body {
    padding: 3rem 6rem;
    /* font-family: 'Nunito', sans-serif; */
    font-family: 'Saira', sans-serif;
    background: #222222;
    color: white;
}

.form--button {
    padding: .4rem 0.8rem;
    border: .25rem solid black;
    border-radius: .5rem;
    font-weight: 400;
    font-size: 1.2rem;
    cursor: pointer;
}

footer {
    margin-top: 4rem;
    text-align: center;
    font-size: 1.5rem;
}

.author {
    color: #4285F4;
    text-decoration: none;
}

.author:hover {
    color: #0054db;
    text-decoration: underline;
}

.tag {
    font-weight: 400;
}

.display-mobile {
    display: none;
}

/* 
================ Additional Styles ================
*/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.a--title {
    color: white;
    text-decoration: none;
}

.title {
    font-size: 1.6rem;
}

/* Header/Tags section  */
.tags {
    display: flex;
    flex-wrap: wrap;
}

.tags li {
    margin-top: 1.6rem;
    margin-right: 1rem;
}

.JavaScript {
    background: #f7df1e !important;
    border-color: #d2be1a !important;
    color: black !important;
}

.HTML {
    background: #f1662b !important;
    border-color: #e44f25 !important;
    color: black !important;
}

.CSS {
    background: #33a8db !important;
    border-color: #1572b7 !important;
    color: black !important;
}

.Node {
    background: #6bc045 !important;
    border-color: #3c873a !important;
    color: black !important;
}

.MongoDB {
    background: #50a94c !important;
    border-color: #04632c !important;
    color: black !important;
}

.React {
    background: #61dafb !important;
    border-color: #30a3c2 !important;
    color: black !important;
}

.EJS {
    background: #c42761 !important;
    border-color: #9b1445 !important;
    color: black !important;
}

.Handlebars {
    background: #f0772b !important;
    border-color: #dc6115 !important;
    color: black !important;
}

.offer-help {
    border-color: #bcbcc5;
}

/* developers */

.devs {
    margin-top: 1.6rem;
}

.developer,
.content--container,
.content--desktop {
    display: flex;
    align-items: center;
}

.content--container,
.content--desktop {
    width: 100%;
}

.developer {

    background: #161616;
    color: white;

    padding: 1.6rem;
    margin-top: 0.8rem;

    border: 0.4rem solid #121212;
    border-radius: 0.5rem;

    font-size: 2.4rem;

    overflow: auto;
}

.dev--avatar {
    width: 8rem;
    height: 8rem;
    border-radius: 0.5rem;
}

.dev--name {
    margin-left: 4rem;
    width: 25%;
}

.dev--skills {
    display: flex;
    flex-wrap: wrap;
    font-size: 1.25rem;
    margin: 0 auto 0 3.2rem;
    /* width: 50%; */
    gap: 1rem;
}

.dev--skills li {
    padding: 0.4rem 0.8rem;
    border-width: .25rem;
    border-style: solid;
    border-radius: 0.4rem;
}

.dev--expertise {
    margin-left: 4rem;
}

.dev--socials {
    display: flex;
    align-items: center;
    margin-left: 4rem;
}

.icon--github,
.icon--linkedin {
    width: 2.4rem;
    height: 2.4rem;
    margin-left: 1.6rem;
}

@media screen and (max-width: 900px) {
    .content--container {
        flex-direction: column;
        align-items: flex-start;
    }

    .content--desktop {
        justify-content: space-between;
        margin-bottom: 1rem;
    }

    .dev--expertise {
        margin-left: 0;
    }

    .dev--skills {
        margin-left: 4rem;
    }

    .dev--name {
        margin-right: 4rem;
    }

    .dev--name,
    .dev--expertise {
        font-size: 2rem;
    }

    .display-mobile {
        display: flex;
    }

    .desktop {
        display: none;
    }
}

@media screen and (max-width: 550px) {
    body {
        padding-inline: 3rem;
    }
}